.menu
    padding-left: 20px
    &.sidebar
        position: fixed

.menu-list
    a
        color: $vue-hover
        &:hover
            color: $vue-green
        &.is-active
            color: $vue-green
            background-color: transparent
            font-weight: bold
