@import url('https://fonts.googleapis.com/css?family=Noto+Sans')
@import 'variables'
@import 'layout'
@import 'utils'
@import 'animations'
@import 'components/button'
@import 'components/code'
@import 'components/form'
@import 'components/header'
@import 'components/hero'
@import 'components/list'
@import 'components/menu'
@import 'components/note'
@import 'components/tabs'

a.link
    color: $vue-green

b.important
    color: $vue-green

.rule
    margin: 20px 0

.rule div
    margin: 5px 0

.is-rtl
    direction: rtl
