body
    color: #777

.pure-img-responsive
    height: auto
    max-width: 100%

.content-container
    font-size: 1.1rem
    line-height: 1.6em
    margin-bottom: 50px

.main-container
    overflow-x: hidden

@media screen and (min-width: 900px)
    .main-container
        padding: 0 60px
